@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    margin-top: -5px;
    background-color: darkred;
    color: white;
    padding: 18px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: rgb(162, 0, 0);
}